$mt-font-family: "Open Sans", sans-serif;
$mt-font-family-accent: "Nunito", sans-serif;

// colors
$mt-red-transparent: #da5f60e6;
$mt-red: #e56768;
$mt-yellow: #e9d758;
$mt-white: #fff;

// font sizes
$mt-font-size-xxs: 12px;
$mt-font-size-xs: 1rem;
$mt-font-size-sm: 16px;
$mt-font-size-md: 18px;
$mt-font-size-lg: 20px;
$mt-font-size-xl: 24px;
$mt-font-size-xxl: 28px;

// Breakpoints
$mt-screen-xxs: 0px;
$mt-screen-xs: 320px;
$mt-screen-sm: 600px;
$mt-screen-md: 960px;
$mt-screen-lg: 1280px;
$mt-screen-xl: 1920px;

// buttons
// primary button styles
$mt-btn-primary-bg: $mt-yellow;
$mt-btn-primary-bg-hover: $mt-white;
$mt-btn-primary-color: $mt-white;
$mt-btn-primary-color-hover: $mt-red;
// secondary button styles
$mt-btn-secondary-bg: $mt-yellow;
$mt-btn-secondary-bg-hover: $mt-white;
$mt-btn-secondary-color: $mt-white;
$mt-btn-secondary-color-hover: $mt-red;
// tertiary button styles
$mt-btn-tertiary-bg: $mt-white;
$mt-btn-tertiary-bg-hover: $mt-yellow;
$mt-btn-tertiary-color: $mt-red;
$mt-btn-tertiary-color-hover: $mt-white;
