$mt-font-family: "Open Sans", sans-serif;
$mt-font-family-accent: "Nunito", sans-serif;

// colors
$mt-bg-red-transparent: #da5f60e6;

// Breakpoints
$mt-screen-xxs: 0px;
$mt-screen-xs: 320px;
$mt-screen-sm: 600px;
$mt-screen-md: 960px;
$mt-screen-lg: 1280px;
$mt-screen-xl: 1920px;
